<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/head.ejs') -%>
    <title>Alqagro</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') -%>

    <h2>Info</h2>

    <%- include ('partials/footer.ejs') -%>
</body>
</html>